<nav class="sidebar">
  <ul>
    <li class="menu-title">Cierre Diario</li>
	<li><a href="/ventas/validar-ventas.html">1. Validar Ventas ML Registradas</a></li>
	<!--<li><a href="/ventas/validar-ventas.html">2. Validar Ventas Página Registradas</a></li>
	<li><a href="/ventas/validar-ventas.html">3. Validar Ventas Página Registradas</a></li>-->
	<li><a href="/odoo/variantes.html">2. Cargar Variantes Odoo</a></li>
    <li><a href="/validar/validar.html">3. Validar Publicaciones</a></li>
  </ul>
</nav>