<nav class="sidebar">
  <ul>
    <li class="menu-title">Cierre Diario</li>
    <li><a href="/odoo/ventas-odoo.html">1. Cargar Ventas Odoo</a></li>
    <li><a href="/odoo/variantes.html">2. Cargar Variantes Odoo</a></li>
    <!--<li><a href="/odoo/stock-odoo.html">3. Cargar Stock Ubicaciones Productos</a></li>-->
    <li><a href="/ventas/validar-ventas.html">3. Validar Ventas ML</a></li>
    <!--<li><a href="">5. Validar Ventas Jumpseller</a></li>-->
    <li><a href="/odoo/variantes.html">4. Cargar Variantes Odoo</a></li>
    <li><a href="/validar-ml/validar-ml.html">5. Validar Publicaciones</a></li>
  </ul>
  <ul>
    <li class="menu-title">Compras</li>
    <li><a href="/archivos/cargar-publicaciones-comision.html">1. Cargar Archivo Publicaciones con comisión</a></li>
    <li><a href="/odoo/variantes.html">2. Cargar Variantes Odoo</a></li>
    <li><a href="/compras/compra-nacional.html">3. Registrar Compra nacional</a></li>
    <li><a href="/compras/compra-internacional.html">4. Registrar Compra internacional</a></li>

  </ul>
</nav>